@import url('https://fonts.googleapis.com/css2? family= Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400; 1.600;1.700;1.900 & display=trocar');

.formulario {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Source Sans Pro', 'Times New Roman', Times, serif;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}